oct_2025/simulation_output
oct_2025/massive_output_copy.csv
oct_2025//plots
oct_2025/__pycache__
oct_2025/.DS_Store
oct_2025/what_is_new.ipynb
oct_2025/simulation.ipynb
oct_2025/OA.py
oct_2025/OA.ipynb
oct_2025/*.mp4
oct_2025/test_plots.ipynb
.DS_Store
.venv/
old_mo.csv
massive_output.csv
out.csv
plots/
*.mp4
massive_output.csv
what_is_new.ipynb
AO.ipynb
AO.py
../*mp4
../response_matrix.mp4
oct_2025/MP4_files/.*
*.csv
*.gmp4